.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
.history/
vendor/
build/
composer.lock
gitpush.sh
pkg/
bin/
cbuild
**/.DS_Store
.test/
main
output/
manifest/output/
manifest/config/config.yaml
hack/config.yaml
temp/
example/.env
config.yaml
resource/store
resource/upload
/.env
